//
@import '~bootstrap/scss/bootstrap.scss';
@import './partials/variables.scss';

.top-bar{
    background-color: $primary-color;
}

a{
    all: unset;
}

nav{
    padding: 1rem 0;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            font-weight: bolder;
            padding-left: 3rem;
        }
    }
}